.clock {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    /* Ajuste o tamanho da fonte */
    text-align: center;
    color: var(--color-black);
    background-color: transparent;
    /* Respeitando o design da .widget4 */
}
